:root {
    --light-color: #fff;
    --muted-color: #ccc;
    --dark-color: #1a1a1a;
    --icon-main-color: #ffbf48;
    --icon-active-color: #ff8000;
    --icon-hover-color: #ff3665;
    --navbar-bg-color: #1a1a1a69;
    --footer-bg-color: #0b0036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* NAVBAR */

.custom-navbar {
    background-color: transparent;
    padding: 0.5rem 1rem;
    position: absolute;
    z-index: 100;
}

.navbar-brand .logo-img {
    height: 50px;
    object-fit: contain;
    margin: 0;
}

.fa-bars {
    font-size: 2rem;
}

.navbar-nav {
    margin-left: auto;
    background: var(--navbar-bg-color);
    padding: 0 0.8rem 0.4rem 0;
    border-radius: 0.6rem;
}

.navbar-nav .nav-link {
    color: var(--dark-color);
    font-size: 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.6rem;
    transition: color 0.2s ease;
}

.navbar-nav .nav-link i {
    position: relative;
    z-index: 2;
    color: var(--icon-main-color);
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover i {
    color: var(--icon-hover-color);
    text-shadow: var(--dark-color) 0px 0px 1px;
}

.nav-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
    font-size: 0.9rem;
    font-weight: 800;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 3;
    background: none;
}

.nav-icon-wrapper:hover .nav-label {
    opacity: 1;
}

.nav-label-mobile {
    display: none;
}

.active-nav i {
    color: var(--icon-active-color) !important; 
    text-shadow: var(--dark-color) 0px 0px 3px;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(2rem);
        border-radius: 1vw;
        position: relative;
        padding-block: 1.5rem;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.75rem 1rem;
    }

    .nav-label {
        display: none;
    }

    .nav-label-mobile {
        display: inline-block;
        font-weight: 600;
        font-size: 5vw;
        color: var(--icon-main-color);
        min-width: 25vw;
        text-align: start;
    }

    .navbar-nav .nav-link i {
        font-size: 5vw;
        width: 5vw;
        margin-inline: 10vw;
        color: var(--icon-main-color);
    }

    .active-nav .nav-label-mobile {
        color: var(--icon-active-color) !important;
    }

    .nav-link:hover .nav-label-mobile {
        color: var(--icon-hover-color);
    }
    .nav-icon-wrapper {
        display: flex;
        align-items: center;
    }
}


/* FOOTER */

.site-footer {
  background-color: var(--footer-bg-color);
  color: var(--light-color);
  padding: 2vw 4vw;
  letter-spacing: 0.25vw;
  box-shadow: var(--footer-bg-color) 0 0 1vw;
  text-wrap: balance;
}

.footer-body {
  max-width: 90vw;
  margin: 0 auto;
  gap: 2vw;
}

.footer-body h5 {
  margin-bottom: 0.5vw;
  font-size: 1.5vw;
  width: fit-content;
}

.footer-body hr {
  border-top: 0.1vw solid var(--muted-color);
}

.footer-line {
  display: flex;
  align-items: center;
  margin: 0.6vw 0;
  font-size: 1.25vw;
}

.footer-line i {
  min-width: 1.5vw;
  text-align: left;
  margin-right: 1vw;
}

.social-icons {
  gap: 1.2vw;
  margin: 1vw 0;
}

.social-icons a {
  font-size: 2vw;
  color: var(--light-color);
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--muted-color);
  transform: scale(1.2);
}

.footer-right, .social-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.logo-img {
  height: 5vw;
  margin-bottom: 1.5vw;
}

.copyright {
  font-size: 1vw;
  color: #aaa;
  margin-bottom: 0.75vw;
  max-width: 40vw;
}

@media (max-width: 991.98px) {
  .site-footer{
    padding: 4vw;
  }

  .footer-body h5 {
    font-size: 3.5vw;
  }

  .footer-line {
    font-size: 2.25vw ;
  }

  .social-icons a {
    font-size: 3.5vw;
  }

  .logo-img {
    height: 8vw;
  }

  .copyright {
    font-size: 1.75vw;
  }
}