{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if is_signup %} Register {% else %} Login {% endif %}
{% endblock %}

{% block style %}
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="auth-page d-flex flex-wrap justify-content-center align-items-center">

    <div class="auth-container d-flex flex-lg-row flex-column align-items-center justify-content-center">
        
        <div class="auth-form-box p-5 rounded {% if is_signup %} animate-right {% else %} animate-left {% endif %}">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for f in form %}
                    <p>{{f.label_tag}}</p>
                    <p>{{f}}</p>
                    <p class="text-danger">{{f.errors|striptags}}</p>
                {% endfor %}
                <button class="btn btn-primary submit-button" type="submit">
                    {% if is_signup %} Register {% else %} Login {% endif %}
                </button>
        
                {% if is_signup %}
                <a href="{% url 'signin' %}" class="redirect-button text-success">Already Have An Account?</a>
                {% else %}
                <a href="{% url 'signup' %}" class="redirect-button text-danger">Don't Have An Account Yet?</a>
                {% endif %}
            </form>
        </div>

        <div class="auth-image-box {% if not is_signup %} order-first animate-right {% else %} animate-left {% endif %}">
            <img src="{% static 'img/pizza.png' %}" alt="Loading" class="img-fluid spinning-image">
        </div>

    </div>
</div>
{% endblock %}